@model SatisStokTakipWebUI.Models.Order

<h2>Edit</h2>



<form method="post" asp-action="Edit">
    <div class="form-group">
        <label asp-for="OrderId" class="control-label"></label>
        <input asp-for="OrderId" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="UserId" class="control-label"></label>
        <input asp-for="UserId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OrderDate" class="control-label"></label>
        <input asp-for="OrderDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OrderStatus" class="control-label"></label>
        <input asp-for="OrderStatus" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
