@model IEnumerable<SatisStokTakipWebUI.Models.User>

@{
    ViewBag.Title = "User List";
}

<h2>Users</h2>
<p>
    <a href="@Url.Action("Create", "Users")" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Username</td>
            </tr>
        }
    </tbody>
</table>
